body {
  background-image: url("backgroundimg.png");
}

.navbar-brand {
  background-color: teal;
  color: white !important;
  /*font-family: ;*/
}

#navbarNav {
  width: 200px;
  float: right;
}
section {
  background-color: white;
  color: teal;
  margin-top: 100px;
  margin-left: 50px;
}
